fastapi==0.135.1
uvicorn[standard]==0.42.0
slowapi==0.1.9
python-dotenv==1.2.2
python-multipart==0.0.22
pydantic-settings
sentry-sdk
authlib
pydantic
redis
resend
sqlalchemy
pyjwt
starlette
httpx
apscheduler
pydantic-extra-types
upstash-redis
botocore
boto3
pillow